
  <div class='panel panel-default'>
    <h1>{{question.content}}</h1>
    <h4> by {{question.author}}</h4><br />
    <h3>Additional Info:</h3>
    <h4>{{question.info}}</h4>

    <div class="row">
      <div class="col-md-2">
        {{update-question question=question updateQuestion="updateQuestion"}}
      </div>
      <div class="col-md-3">
        <button class="btn btn-danger" {{action "deleteQuestion" question}}>Delete Question</button>
      </div>

    </div>
  </div>

  <div class='panel panel-default answerpanel'>
    <h1><u><b>Answers</b></u></h1>
    <ul>
    {{#each question.answers as |answer|}}
      {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
    {{/each}}
    </ul>
  </div>
