{{#if showUpdateQuestion}}
<h2>Update Question</h2>
<form class="form-group">
  <label class="content">Question:</label>
  {{input value=content id="content"}}

  <label class="author">Author:</label>
  {{input value=author id="author"}}

  <label class="info">Additional Info:</label>
  {{input value=info id="info"}}
  <button class="btn btn-primary" {{action "updateQuestion" question}}>Save Updates</button>
</form>
{{else}}
<button class="btn btn-primary" {{action "showUpdateQuestion"}}>Update Question</button>

{{/if}}
